name: MLflow CI Training

on:
    push:
        branches: [main]

jobs:
    train:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Miniconda
              uses: conda-incubator/setup-miniconda@v3
              with:
                  auto-activate-base: false
                  python-version: "3.12"

            - name: Install MLflow
              run: pip install mlflow

            - name: Run MLflow Project
              run: mlflow run MLProject --env-manager=local

            - name: Upload MLflow artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: mlflow-artifacts
                  path: mlruns
